@import url('https://fonts.googleapis.com/css2?family=Cuprum&family=Lobster&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

h1, .ttt-title {
    font-family: 'Lobster', cursive;
    @apply text-5xl text-center;
}

.card-title {
    font-family: 'Cuprum', sans-serif;
    @apply text-3xl text-center;
}

.card-text {
    @apply text-center;
}

html, body {
    background-color: #fff;
    color: #636b6f;
    /*font-family: 'Nunito', sans-serif;*/
    /*font-weight: 200;*/
    /*height: 100vh;*/
    /*margin: 0;*/
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

/*Overrides for Tailwind CSS */

/*Form fields*/
.dataTables_wrapper select,
.dataTables_wrapper .dataTables_filter input {
    color: #4a5568; 			/*text-gray-700*/
    padding-left: 1rem; 		/*pl-4*/
    padding-right: 1rem; 		/*pl-4*/
    padding-top: .5rem; 		/*pl-2*/
    padding-bottom: .5rem; 		/*pl-2*/
    line-height: 1.25; 			/*leading-tight*/
    border-width: 2px; 			/*border-2*/
    border-radius: .25rem;
    border-color: #edf2f7; 		/*border-gray-200*/
    background-color: #edf2f7; 	/*bg-gray-200*/
}

/*Row Hover*/
table.dataTable.hover tbody tr:hover, table.dataTable.display tbody tr:hover {
    background-color: #ebf4ff;	/*bg-indigo-100*/
}

/*Pagination Buttons*/
.dataTables_wrapper .dataTables_paginate .paginate_button		{
    font-weight: 700;				/*font-bold*/
    border-radius: .25rem;			/*rounded*/
    border: 1px solid transparent;	/*border border-transparent*/
}

/*Pagination Buttons - Current selected */
.dataTables_wrapper .dataTables_paginate .paginate_button.current	{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06); 	/*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #667eea !important;		/*bg-indigo-500*/
    border: 1px solid transparent;		/*border border-transparent*/
}

/*Pagination Buttons - Hover */
.dataTables_wrapper .dataTables_paginate .paginate_button:hover		{
    color: #fff !important;				/*text-white*/
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);	 /*shadow*/
    font-weight: 700;					/*font-bold*/
    border-radius: .25rem;				/*rounded*/
    background: #667eea !important;		/*bg-indigo-500*/
    border: 1px solid transparent;		/*border border-transparent*/
}

/*Add padding to bottom border */
table.dataTable.no-footer {
    border-bottom: 1px solid #e2e8f0;	/*border-b-1 border-gray-300*/
    margin-top: 0.75em;
    margin-bottom: 0.75em;
}

/*Change colour of responsive icon*/
table.dataTable.dtr-inline.collapsed>tbody>tr>td:first-child:before, table.dataTable.dtr-inline.collapsed>tbody>tr>th:first-child:before {
    background-color: #667eea !important; /*bg-indigo-500*/
}

.btn {
    @apply font-bold py-2 px-4 rounded;
}
.btn-blue {
    @apply bg-purple-500 text-white;
}
.btn-blue:hover {
    @apply bg-purple-700;
}

.btn-blue-outline {
    @apply bg-transparent text-purple-700 font-semibold border border-purple-500;
}
.btn-blue-outline:hover {
    @apply bg-purple-500 text-white border-transparent;
}

.btn-filled-large {
    @apply shadow bg-purple-500 text-white font-bold py-2 px-4 mt-1 rounded;
}

.btn-filled-large:hover {
    @apply bg-purple-400;
}

.btn-filled-large:focus {
    @apply ring outline-none;
}


#new-card-button {
    @apply mt-1;
}

#settings-button:hover {
    fill: rgba(189, 189, 189, 0.25);
}

#delete-all-data > a {
    @apply text-center text-purple-600 text-sm pr-1 pb-0.5 italic inline-block w-full;
}

.card-box {
    @apply relative lg:w-1/3 px-3 pb-6;
}

.inner-card-box {
    @apply bg-white p-5 rounded-lg shadow;
}

.card-box .delete-event-icon {
    @apply hidden;
}

.card-box:hover .delete-event-icon {
    @apply block absolute top-1.5 right-4 h-6 w-6;
}

.card-box:hover .inner-card-box {
    @apply bg-purple-50;
}

.settings-box {
    @apply pt-2 pb-2;
}

